// Variables
$main-color: #212121;
$background-color: #607d8b;
$white: white;
$red: #d32f2f;
$black: rgb(0, 0, 0);
$grey: #757575;
$grey1: #bdbdbd;
$main-width: 960px;
$table-width: 100%;
$child-width: 300px;