<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="container clear-fix">
        <nav>
            <div class="nav-bar clear-fix">
                <ul class="nav">
                    <li>Blog</li>
                    <li>Contact</li>
                    <li>About</li>
                    <li>Home</li>
                </ul>
            </div>
        </nav>
        <main>
            <img class="logo" src="css-html.png" alt="HTMLCSS">
            <section>
                <article>
                    <div class="box clear-left"><img src="300x200.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui fugiat tempore
                            corporis
                            voluptates
                            recusandae blanditiis expedita sint fugit, itaque ipsam ut inventore sapiente
                            perspiciatis amet
                            repudiandae et voluptate quidem?</p>
                    </div>
                </article>
                <article>
                    <div class="box clear-left"><img src="300x200.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui fugiat tempore corporis
                            voluptates
                            recusandae blanditiis expedita sint fugit, itaque ipsam ut inventore sapiente perspiciatis
                            amet
                            repudiandae et voluptate quidem?</p>
                    </div>
                </article>
                <aside>
                    <ul class="related-topics">
                        <li>Rebuilding slack.com</li>
                        <li>Zašto bootcamp format?</li>
                        <li>React - prozor u svet web <br> aplikacija</li>
                        <li>Najveće zablude o <br> programerima u Srbiji</li>
                    </ul>
                </aside>
            </section>
            <section>
                <article>
                    <div class="box clear-left"><img src="300x200.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui fugiat tempore corporis
                            voluptates
                            recusandae blanditiis expedita sint fugit, itaque ipsam ut inventore sapiente perspiciatis
                            amet
                            repudiandae et voluptate quidem?</p>
                    </div>
                </article>
                <article>
                    <div class="box clear-left"><img src="300x200.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui fugiat tempore
                            corporis
                            voluptates
                            recusandae blanditiis expedita sint fugit, itaque ipsam ut inventore sapiente
                            perspiciatis amet
                            repudiandae et voluptate quidem?</p>
                    </div>
                </article>
                <article>
                    <div class="box clear-left"><img src="300x200.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui fugiat tempore
                            corporis
                            voluptates
                            recusandae blanditiis expedita sint fugit, itaque ipsam ut inventore sapiente
                            perspiciatis amet
                            repudiandae et voluptate quidem?</p>
                    </div>
                </article>
            </section>
            <section>
                <article>
                    <div class="box clear-left"><img src="300x200.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui fugiat
                            tempore corporis
                            voluptates
                            recusandae blanditiis expedita sint fugit, itaque ipsam ut inventore sapiente
                            perspiciatis amet
                            repudiandae et voluptate quidem?</p>
                    </div>
                </article>
                <article>
                    <div class="box clear-left"><img src="300x200.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui fugiat
                            tempore corporis
                            voluptates
                            recusandae blanditiis expedita sint fugit, itaque ipsam ut inventore
                            sapiente perspiciatis amet
                            repudiandae et voluptate quidem?</p>
                    </div>
                </article>

                <article>
                    <div class="box clear-left"><img src="300x200.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui
                            fugiat tempore corporis
                            voluptates
                            recusandae blanditiis expedita sint fugit, itaque ipsam ut inventore
                            sapiente perspiciatis amet
                            repudiandae et voluptate quidem?</p>
                    </div>
                </article>
            </section>


    </div>
    </main>
    <footer>
        <p>
            © BIT Student
        </p>

    </footer>

</body>

</html>