* {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.clear-fix::after {
    content: '';
    display: block;
    clear: both;
}

.clear-left {
    clear: left;
}

.container {
    width: 960px;
    margin: 0 auto; 
}

.nav-bar {
    box-sizing: border-box;
    background-color: red;
    display: block;
}

.nav {
    color: white;
    list-style-type: none;
    float: right;
}

.nav li {
    display: inline-block;
    margin: 10px;
}

.logo {
    width: 100%;
    } 

.box, article {
    width: 300px;
    margin-right: 12px;
    margin-bottom: 20px;
    display: inline-block;
}

.related-topics {
    list-style: none;
    background-color: orange;
}

.related-topics li {
    border-bottom: 1px solid black;
    margin: 10px;
    padding-bottom: 5px;
}

footer {
    background-color: darkslateblue;
    width: 100%;
}

footer > p {
    width: 960px;
    color: white;
    margin: 10px auto;
}

aside {
    width: 33%;
    float: right;
    background-color: orange;
}