/* @font-face {
    font-family: 'Syne Mono', monospace;
} */

body {
    font-size: 24px;
    font-weight: lighter;
}

.first {
    font-family: 'Syne Mono', monospace;
    border: 5px solid red;
    height: 50px;
    width: 300px;
    background-color: yellowgreen;
    overflow: scroll;
}

.second {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

.third {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.first q {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.second q {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.third q {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.third span {
    font-weight: bold;
    font-style: italic;
}


